<apex:page controller="BankAcntlogin" >
  <apex:form >
      <apex:pageBlock >
     <font SIZE="4" FACE="courier" COLOR="green"><marquee><b>WELCOME TO PERSONAL BANKING</b></marquee></font>
     <font SIZE="4" FACE="courier" COLOR="blue"><marquee direction="up"><b>*BANK OF AMERICA*</b></marquee></font>
    <div style="background-image: url(http://www.prwatch.org/files/images/bank-of-america.jpg); height: 250px; width: 650px; border: 1px solid black;"></div>  
   <apex:pageBlockSection >
      
    Enter Account Num <apex:inputText value="{!acntnum}"/>
    Enter Pin <apex:inputSecret value="{!pin}"/>
    
    <apex:pageMessages />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<apex:commandbutton value="Login" action="{!login}"/>
       </apex:pageBlockSection>
   </apex:pageBlock>
   
  </apex:form>
</apex:page>