<apex:page controller="calc" standardstylesheets="false" showheader="false">
  <apex:form >
  <div align="center" >
   <apex:stylesheet value="{!$Resource.my3}"/>
  <apex:pageBlock >
  <apex:inputText maxlength="10" value="{!result}" styleClass="button"  size="21"/>
  <apex:panelGrid title="Calculator" cellpadding="2" columns="4" border="5" bgcolor="PURPLE"> 
  <apex:commandButton value="1" action="{!one}" />
  <apex:commandButton value="2" action="{!two}"/>
  <apex:commandButton value="3" action="{!three}"/>
  <apex:commandButton value="*" action="{!multiply}"/>
  <apex:commandButton value="4" action="{!four}"/>
  <apex:commandButton value="5" action="{!five}"/>
  <apex:commandButton value="6" action="{!six}"/>
  <apex:commandButton value="/" action="{!divide}"/>
   <apex:commandButton value="7" action="{!seven}"/>
   <apex:commandButton value="8" action="{!eight}"/>
   <apex:commandButton value="9" action="{!nine}"/>
   <apex:commandButton value="+" action="{!add}"/>
   <apex:commandButton value="c" action="{!re}"/>
   <apex:commandButton value="0" action="{!zero}"/>
   <!--<apex:commandButton value="."/>-->
   <apex:commandButton value="-" action="{!minus}"/>
   <apex:commandButton value="=" action="{!equal}"/>
  </apex:panelGrid> 
  
  </apex:pageBlock>
 </div>
 </apex:form>  
</apex:page>