<apex:page controller="calci2" >
  <apex:pageBlock title="Calci2" tabStyle="Lead">
    <apex:form >
    <apex:inputText value="{!result}" size="20" /><br/>
    <apex:commandButton value="    1    " action="{!one}"/>
    <apex:commandButton value="    2    " action="{!two}"/>
    <apex:commandButton value="    3    " action="{!three}"/>
    <apex:commandButton value="    *    " action="{!mul}"/><br/>
    <apex:commandButton value="    4    " action="{!four}"/>
    <apex:commandButton value="    5    " action="{!five}"/>
    <apex:commandButton value="    6    " action="{!six}"/>
    <apex:commandButton value="    /    " action="{!div}"/><br/>
    <apex:commandButton value="    7    " action="{!seven}"/>
    <apex:commandButton value="    8    " action="{!eight}"/>
    <apex:commandButton value="    9    " action="{!nine}"/>
    <apex:commandButton value="    +    " action="{!add}"/><br/>
    <apex:commandButton value="    c    " action="{!cancle}"/>
    <apex:commandButton value="    0    " action="{!zero}"/>
    <apex:commandButton value="    -    " action="{!sub}"/>
    <apex:commandButton value="    =    " action="{!equal}"/><br/>
     </apex:form>
  </apex:pageBlock> 
</apex:page>