<apex:page Controller="bottlefetch" >
 <apex:form >
  <apex:pageBlock >
  <apex:pageBlockButtons >
    <apex:commandButton value="get" action="{!save}"/>
   </apex:pageBlockButtons>
   <apex:pageBlockSection >
   
    <apex:pageBlockSectionItem >
     bottle name <apex:outputtext value="{!bname}"/>
    </apex:pageBlockSectionItem>
    <apex:pageBlockSectionItem >
     brand price <apex:outputtext value="{!price}"/>
    </apex:pageBlockSectionItem>
    <apex:pageBlockSectionItem >
     brand qty <apex:outputtext value="{!quantity}"/>
    </apex:pageBlockSectionItem>
   
   </apex:pageBlockSection>
  </apex:pageBlock>
  </apex:form>
</apex:page>