<apex:page >
  
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Image Gallery</title>
<style type="text/css">
*{
margin:0;
padding:0;
font-family:"Square 721 Blk";
}
#wrap{
position:relative;
width:100%px;
height:100%px;
margin:0px auto;
padding:10px;
background: #999;
}
#box{
position:relative;
margin:50px auto;
width:900px;
height:800px;
border:5px solid #FFF;
padding-top:40px;
box-shadow:10px 10px 5px black;
border-radius:20px;
}
#box1, #box2, #box3{
position: relative;
margin:1px auto;
width:800px;
margin-left:70px;
}
#box1 a img, #box2 a img, #box3 a img{
width:250px;
height:250px;
display:inline-block;
box-shadow:0px 0px 4px 2px black;
padding:5px;
border-radius:5px;
}
#box1 a img:hover, #box2 a img:hover, #box3 a img:hover{
opacity:0.6;
-webkit-transition-duration:0.9s;
}

#info{
color:#FFF;
font-size:24px;
position:absolute;
top:10px;
left:43%;
text-shadow:3px 3px #000;
}
#box p{
text-align:center;
color: #000;
font-size:24px;
}
</style>
</meta>
</head>


<body>
<div id="wrap">
<div id="info">Image Gallery</div>
<div id="box">
<div id="box1">
<a href="http://www.bollywoodsips.com/admin/images/galleryimages/Deepika-Padukone-pictures-Hot-Bikini-Sexy-Body-8.jpg"><img src="http://www.bollywoodsips.com/admin/images/galleryimages/Deepika-Padukone-pictures-Hot-Bikini-Sexy-Body-8.jpg"/></a> 
<a href="http://www.celebritytonic.com/wp-content/uploads/2013/01/deepika-padukone.jpg"><img src="http://www.celebritytonic.com/wp-content/uploads/2013/01/deepika-padukone.jpg"/></a>
<a href="https://s-media-cache-ak0.pinimg.com/236x/d2/78/24/d27824f8862f3aa60050da021dfe51f2.jpg"><img src="https://s-media-cache-ak0.pinimg.com/236x/d2/78/24/d27824f8862f3aa60050da021dfe51f2.jpg"/></a>
</div>

<div id="box2">
<a href="http://datastore03.rediff.com/h1500-w1500/thumb/52605E5F6D6C65665C60665C696C7371/elz9ow06dzqz2c8m.D.0.Shraddha-Kapoor-Ek-Villain-Movie-Image.jpg"><img src="http://datastore03.rediff.com/h1500-w1500/thumb/52605E5F6D6C65665C60665C696C7371/elz9ow06dzqz2c8m.D.0.Shraddha-Kapoor-Ek-Villain-Movie-Image.jpg"/></a>
<a href="http://www.picturesgoogle.com/wp-content/uploads/2014/01/shraddha-kapoor-hot-photos.jpg"><img src="http://www.picturesgoogle.com/wp-content/uploads/2014/01/shraddha-kapoor-hot-photos.jpg"/></a>
<a href="http://www.foundpix.in/wp-content/uploads/2014/09/Shraddha-Kapoor-Hot-Photos.jpg"><img src="http://www.foundpix.in/wp-content/uploads/2014/09/Shraddha-Kapoor-Hot-Photos.jpg"/></a>
</div>
<div id="box3">
<a href="http://www.bdstuff.com/wp-content/uploads/2015/02/ileana-d-cruz-hot-photos.jpg"><img src="http://www.bdstuff.com/wp-content/uploads/2015/02/ileana-d-cruz-hot-photos.jpg"/></a>
<a href="http://hot.topphotography.in/plog-content/images/hot-photos/ileana-hot/ileana-dsouza-hot-photo.jpg"><img src="http://hot.topphotography.in/plog-content/images/hot-photos/ileana-hot/ileana-dsouza-hot-photo.jpg"/></a>
<a href="http://myvantagepoint.in/wp-content/uploads/2014/03/Ileana-Hot-Pics-doing-YOGA-in-Tight-Blue-Top-Hot-Yoga-Pants-VP-8.jpg"><img src="http://myvantagepoint.in/wp-content/uploads/2014/03/Ileana-Hot-Pics-doing-YOGA-in-Tight-Blue-Top-Hot-Yoga-Pants-VP-8.jpg"/></a>
</div><br/>
<p>Click on the image to view full size</p>
</div>
</div>
</body>
</html>
</apex:page>