<apex:page controller="linkclass">
 <apex:form >
  <apex:pageBlock >
   <apex:pageBlockSection >
    <apex:pageBlockSectionItem >
     Enter First Value    <apex:inputText value="{!n1}" />
    </apex:pageBlockSectionItem>
    <apex:commandButton value="Next" action="{!Next}"/>
    
  
   </apex:pageBlockSection>
  </apex:pageBlock>
  </apex:form>
 </apex:page>