<apex:page controller="naclass2">
 <apex:form >
   <apex:pageBlock >
    <!--<apex:pageBlockButtons >
    <apex:commandButton value="save" action="{!save}"/>
    <apex:commandButton value="save & new" action="{!savennew}"/>
    <apex:commandButton value="cancel" action="{!cancel}"/>
    </apex:pageBlockButtons>-->
    <apex:pageBlockSection >
     <apex:pageBlockSectionItem >
     enter first num <apex:inputtext value="{!num1}"/>
     </apex:pageBlockSectionItem>
     <!--<apex:pageBlockSectionItem >
     enter secnd num <apex:inputtext value="{!num2}" />
     </apex:pageBlockSectionItem><br/>
     <apex:pageBlockSectionItem >
      Result <apex:outputtext value="{!res}"/>
     </apex:pageBlockSectionItem><br/>-->
     
     <apex:commandButton value="Next" action="{!next}"/>
     
    </apex:pageBlockSection>
   </apex:pageBlock>
  </apex:form>
</apex:page>