<apex:page controller="searchproducts" >
  <apex:form >
   <apex:pageBlock title="Finding Products" mode="edit">
    <table width="10%" border="0">
     <tr>  
    <td width="200" valign="top">
     <apex:pageBlock title="Parameters" mode="edit" id="criteria">

      <script>
      function doSearch() {
        searchServer(
          document.getElementById("ProductName").value,
          document.getElementById("Price").value,
          document.getElementById("brand").value,
          );
      }
      </script>
    <apex:actionFunction name="searchServer" action="{!runSearch}" rerender="results,debug,errors">
     <apex:param name="ProductName" value="" />
     <apex:param name="Price" value="" />
     <apex:param name="brand" value="" />
   </apex:actionFunction>

   <table cellpadding="2" cellspacing="2">
     <tr>
    <td style="font-weight:bold;">ProductName<br/>
     <input type="text" id="ProductName" onkeyup="doSearch();"/>
    </td>
    </tr>
     <tr>
    <td style="font-weight:bold;">Price<br/>
    <input type="text" id="Price" onkeyup="doSearch();"/>
    </td>
     </tr>
     <tr>
   <td style="font-weight:bold;">brand<br/>
     <input type="text" id="brand" onkeyup="doSearch();"/>
    </td>
 </tr>
 </table> 
 </apex:pageBlock>
   </td>
     </tr>
     </table>
     </apex:pageBlock>
  </apex:form>
</apex:page>