<apex:page controller="Approval_Process">
  <apex:form >
  <apex:pageBlock title="Approve/Reject Approval Request">
 
  <!--<apex:outputText value="Opportunity Name"/> : &nbsp; Burlington Textiles Weaving Plant Generator-->
   
  
 <apex:outputText value="Opportunity Name"/> : <apex:repeat value="{!opportunity}" var="opp">                            
           <a href="/{!opp.id}" id="{!opp.Id}" onblur="LookupHoverDetail.getHover('{!opp.id}').hide();" onfocus="LookupHoverDetail.getHover('{!opp.id}', '/{!opp.Id}/m?retURL=%2F{!opp.Id}&isAjaxRequest=1').show();" onmouseout="LookupHoverDetail.getHover('{!opp.id}').hide();" onmouseover="LookupHoverDetail.getHover('{!opp.id}', '/{!opp.Id}/m?retURL=%2F{!opp.Id}&isAjaxRequest=1').show();">{!opp.Name}</a>
    </apex:repeat>
 
    </apex:pageBlock>
  </apex:form>
</apex:page>