<apex:page >
    <apex:form >
        <apex:pageBlock tabStyle="Doctor__c" title="YAHOO! M@iL" >
            <apex:pageBlockSection TItle="Sign In" >
                <apex:pageBlockSectionItem > Username<apex:inputText /> 
                    </apex:pageBlockSectionItem><br/>
                <apex:pageBlockSectionItem > Password<apex:inputSecret /> 
            </apex:pageBlockSectionItem><br/>
        <apex:pageBlockSectionItem > <apex:inputCheckbox /> Keep me logged in.
    </apex:pageBlockSectionItem>
 </apex:pageBlockSection>
      <apex:commandButton value="SignIn"/><br/><br/>
          <apex:commandLink value="Forgot Passowrd"/>
        </apex:pageBlock>
    </apex:form>
</apex:page>