<apex:page standardController="bottle__c" recordSetVar="bottles" tabStyle="bottle__c">
 <apex:form >
  <apex:pageBlock >
  <apex:panelGrid bgcolor="yellow" >
   <apex:datatable var="b" value="{!bottles}" bgcolor="pink" border="5">
    <apex:column >
     bottle name=<apex:outputText value="{!b.name}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </apex:column>
    <apex:column >
     brand price=<apex:outputText value="{!b.price__c}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </apex:column>
   <apex:column >
     brand qty=<apex:outputText value="{!b.quantity__c}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     </apex:column>
    </apex:datatable>
    </apex:panelGrid>
  </apex:pageBlock>
  </apex:form>
</apex:page>