<apex:page tabStyle="Account" showHeader="true" standardStylesheets="true" cache="false">
    <script>
alert('{!$User.UIThemeDisplayed}');
var my2="/apex/Sample_Page";
var myurl="/apex/testing_list_view";
if('{!$User.UIThemeDisplayed}' == 'Theme3'){
alert('{!$User.UIThemeDisplayed}');
window.parent.location = myurl;
}
else if('{!$User.UIThemeDisplayed}' == 'Theme4d'){
alert("inLEX" +'{!$User.UIThemeDisplayed}')
sforce.one.navigateToURL(my2);
}
    </script>
    <apex:outputText value="{!$User.UIThemeDisplayed}"></apex:outputText>
</apex:page>