<apex:page standardController="Account" recordSetvar="accounts">

  <apex:pageBlock title="Viewing Accounts">

  <apex:form id="theForm">

    <apex:panelGrid columns="2">

      <apex:outputLabel value="View:"/>

      <apex:selectList value="{!filterId}" size="1">

               <apex:selectOptions value="{!listviewoptions}"/>
               
       <apex:actionSupport event="onchange" rerender="list"/>



      </apex:selectList>

    </apex:panelGrid>

    <apex:pageBlockSection >

      <apex:dataList var="a" value="{!accounts}" id="list">

        {!a.name}

      </apex:dataList>

    </apex:pageBlockSection>

  </apex:form>
  
  </apex:pageBlock>

</apex:page>