<apex:page standardController="Account" recordSetVar="accs">
<apex:pageBlock >
        <apex:pageBlockTable value="{!accs}" var="acc">
        <apex:column headerValue="Action"/>
       
       <apex:column value="{!acc.Name}"/>
       <apex:column value="{!acc.Industry}"/>
       <apex:column value="{!acc.Type}"/>
        
       </apex:pageBlockTable>
        <apex:outputlink title="view detail in a Popup window" onclick="return openPopup"> Details </apex:outputLink>
      
</apex:pageBlock>
<script>
    function openPopup(id)
    {
    var newwin=windows.open(!'{!$Page.Popup}?id='+id,'Popup','height=600,width=650,left=100,top=100,resizable=no',scrollbars=yes,toolbar=no,status=no');
    if(window.focus)
    {
    newwin.focus();
    }
    return false;
    }
    </script>
    </apex:page>