


body
{
   background-image:url('http://images.desimartini.com/media/uploads/shraddha-kapoor-wallpaper-8.jpg');
   background-color:pink;
   color:yellow;

}


.button1
{
background-color:#00FF00;
font-weight:bold;
color:#E56717;
}


 

