body{
  background-image:url("http://4hdwall.com/wp-content/uploads/2012/09/Nature-Sky-HD-Wallpaper.jpg");
  float: left;
  font: normal 12px arial, sans-serif;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px;  
}

h3{

color:red;
}

.button
{
background-color:black;

font: normal 30px bold;
color:white;
}

.button1
{
background-color:yellow;
font-weight:bold;
color:green;
}
.button2
{
background-color:green;
font-weight:bold;
color:gold;
}
a:hover
{
color:pink;
}
a
{
color:red;
font-size:20px;
}