*{

 }


body{
  background-image:url("http://4hdwall.com/wp-content/uploads/2012/09/Nature-Sky-HD-Wallpaper.jpg");
  
  height: 18px;
  
}


button
{
background-color:gold;

font: normal 30px bold;
color:red;
}

